@page "/equipos/edit/{Id:int}"
@using System.Net
@inject IRepository repository
@inject NavigationManager navegationManager
@inject SweetAlertService sweetAlertService

<h3>Editar</h3>

@if (equipo is null)
{
    <p>Cargando...</p>
}
else
{
    <EquipoForm @ref="equipoForm" Equipo="equipo" OnSubmit="Editar" ReturnAction="Return" />
}

@code {
    [Parameter]
    public int Id { get; set; }
    private Equipo equipo;

    private EquipoForm equipoForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<Equipo>($"/api/equipos/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navegationManager.NavigateTo("/equipos");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            equipo = responseHttp.Response;
        }
    }

    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/equipos", equipo);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        navegationManager.NavigateTo("/equipos");
    }

}